* {
	border: 0;
	border-radius: 0;
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
}
body {
	font-size: 16px;
	background-color: lightgreen;
}

#header-nav {
	background-color: lightyellow;
}

.navbar-brand {
	margin-top: 10px;
}

.navbar-brand h1 {
	color: blueviolet;
	font-size: 2em;
	font-weight: bold;
	text-align: left;
}

.navbar-brand a:link {
	text-decoration: none;
}

#main-content {
	width:100%;
	height:auto;
	background-color: lightblue;
	text-align: left;	
	padding: 20px 20px 20px 20px;
	overflow: visible;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  background-color: olivedrab;
}
#nav-list a:hover {
  background: #E7E7E7;
}

